@{
    ViewData["Title"] = "Person Info";
}

@model lab4.Models.personinfo

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
First Name:<br>
<input type="text" name="firstname" value=""/><br>
Last Name:<br>
<input type="text" name="lastname" value="" /><br>
Age:<br>
<input type="number" name="age" value="" /><br>
Birthdate:<br>
<input type="date" name="birthdate" value="mm/dd/yyyy" /><br>
<br>
<input type="submit" value="Submit">

